<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

       <jee:jndi-lookup id="botToken" jndi-name="java:comp/env/botToken" expected-type="java.lang.String"/>

       <context:annotation-config/>

       <context:component-scan base-package="com.idamobile.platform.chatbot.service"/>
       <context:component-scan base-package="com.idamobile.platform.chatbot.facebook.service"/>

       <bean id="facebookBotConfig" class="com.idamobile.platform.chatbot.facebook.FacebookBotConfiguration">
              <constructor-arg name="verificationToken" value="verify_me"/>
              <constructor-arg name="pageAccessToken" value="EAAT6ATAqdfEBAMk1tWDEZCWHw6lM816V9hEOt7BZAFq9v8QFlAKGsj2hiw0paoRz32cO2GVRezOnsuyPhBvDDvK7YRE8BkNjuZAZBPc5E8xntumznZBMLS5WnKcRKgrMZCOAjwQPZA7cNZBZCWgp3mgNswQQa1eDhXhoiGqZB0B8gKyAZDZD"/>
       </bean>

       <bean class="com.github.zjor.telegram.bot.api.Telegram">
              <constructor-arg name="token" value="#{botToken}"/>
       </bean>

       <bean id="dispatcherExecutor" class="java.util.concurrent.Executors" factory-method="newFixedThreadPool">
              <constructor-arg value="3"/>
       </bean>

       <bean id="botDispatcher" class="com.github.zjor.telegram.bot.framework.dispatch.Dispatcher" init-method="start" destroy-method="stop">
              <constructor-arg ref="dispatcherExecutor"/>
       </bean>

       <bean class="com.github.zjor.telegram.bot.framework.dispatch.UpdateHandler">
              <constructor-arg name="handlers">
                     <list>
                            <bean class="com.idamobile.platform.chatbot.StartMessageHandler"/>
                            <bean class="com.idamobile.platform.chatbot.KeyboardMessageHandler"/>
                            <bean class="com.idamobile.platform.chatbot.BannerMessageHandler"/>
                     </list>
              </constructor-arg>
       </bean>

       <bean class="com.idamobile.platform.light.core.ws.client.WsEndpointClientImpl">
              <constructor-arg name="baseUrl" value="http://dev.idamob.ru/light/services/WsEndpointServiceFacade?wsdl"/>
              <constructor-arg name="serviceEndpoint" value="WsEndpointServiceFacadeHttpSoap12Endpoint"/>
              <constructor-arg name="serviceName" value="WsEndpointServiceFacade"/>
       </bean>


</beans>